
<div class="jumbotron">
	<h2>Welcome to Adapticom Inc.</h2>
	<p>Find me in app/views/pages/home.html.erb</p>
	<!%link_to "Log in", "#" class: "btn-default btn-lg" %>
	<p>Click here to <%= link_to "Login", "#", class: "btn btn-primary btn-lg" %>
	</p>
</div>